<div class="section section-dark section-nucleo-icons"style="background: rgb(80,80,80);
background: linear-gradient(326deg, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 55%, rgba(45,45,45,1) 100%); padding-top:12rem;">
  <div class="container" style=" background-color:#60606061; backdrop-filter: blur(5px); border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6); background-image:url(https://i.pinimg.com/564x/53/b5/36/53b536dc270ca9718ed70148802c775e.jpg); background-repeat:no-repeat;background-size: 100%;background-position: 40% 38%; ">
      <div class="row" style="padding-top: 12rem;">
          <div class="ct takol-md-8 ml-auto mr-auto text-center">
            
              <p class="description">Keep calm and wear Dolce and Gabbana</p>
          </div>
      </div>
  
      <div class="row" style="padding-bottom: 2rem;">
          <div class="col-xs-8 col-sm-12 col-md-3">
            <a href="https://www.dolcegabbana.com/en/" target="_blank"> <img src="https://i.pinimg.com/564x/ee/2f/e4/ee2fe40df06bbc64da86516bea50e8a8.jpg" width="255px" height="143.31px"  class="img-rounded img-responsive" alt="Gucci"></a>   
              <div class="row" style="padding-top: 12px;">
                <div class="col-xs-8 col-sm-12 col-md-6 btn-fl" style="display: block;">
                  <div class=" text-center" routerLinkActive="active">
                    <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Flow</a>
                  </div>
                </div>    
                <div class="col-xs-8 col-sm-12 col-md-6 btn-ct" style="display: block; ">
                  <div class=" text-center" routerLinkActive="active">
                    <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Chat</a>
                  </div>
                </div>    
              </div>         
              
          </div>
          <div class="col-xs-8 col-sm-8 col-md-3">
              <h4 class="images-title"> 
                <p>Product: 10</p>
                <p>Watching: 3</p>
                <p>Response rate:99%(in a few hours)</p>
                
              </h4>            
          </div>
          <div class="col-xs-8 col-sm-8 col-md-3">
              <h4 class="images-title"> 
                <p>Order cancellation: 0,1%</p>
                <p>Flowers: 100,1k</p>
                <p>Evaluate: 5/5 (47,3k evaluate)</p>
                 
               </h4>               
          </div>
          <div class="col-xs-8 col-sm-8 col-md-3">
              <h4 class="images-title"> 
                <p>Joined: 72 months ago</p>
                <p>Founder: Domenico Dolce & Stefano Gabana </p>
                <p>Since: 1985</p>
             </h4> 
          </div>    
          
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
    <div class="tim-title">
               </div>
    <div class="row">            
        <div class="col-xs-8 col-sm-6 col-md-3" *ngFor="let dg of listDolcegabbana">
            <div class="containe a img-rounded img-responsive" style="background-image: url({{dg.image}})">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>{{dg.productName}}</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">${{dg.oldprice}}</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <button  class="add-to-cart btn btn-default" (click)="onDG(dg)" >Add</button>
                </div>
              </div>
              </div>
            <div class="img-details">
                
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                      <a href="/#/detail?id={{dg.id}}" class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >${{dg.price}}</a>
                    </div>
               </h4>
            </div>
        </div>
</div>
</div>
  
<div class="section section-dark section-nucleo-icons"style="background-color:rgba(0,0,0,0)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Domenico Dolce & Stefano Gabana</h2>
              <p class="description">1958 & 1962</p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <h2 class="title">Formation</h2><br/>
              <p class="description">
                Domenico Mario Assunto Dolce; born 13 August 1958) is an Italian fashion designer and entrepreneur. Along with Stefano Gabbana, he is one half of the luxury fashion house Dolce & Gabbana (D&G). Since founding D&G in 1985, Dolce has become one of the world's most influential fashion designers and an industry icon.[3]
              </p><br/>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="icons-container">      
                  <img src="https://i.pinimg.com/564x/82/7d/91/827d91521f8b507fd50ccaf081c3a133.jpg"width="" height="265" alt=" mars">
              </div>
          </div>
      </div>
  </div>
</div>  

