<div class="section section-dark section-nucleo-icons"style="background: rgb(80,80,80);
background: linear-gradient(326deg, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 55%, rgba(45,45,45,1) 100%); padding-top:12rem;">
  <div class="container" style=" background-color:#60606061; backdrop-filter: blur(5px); border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6); background-image:url(https://i.pinimg.com/564x/97/c4/51/97c4513d9a76c4b83bb2ac449652524a.jpg); background-repeat:no-repeat;background-size: 100%;background-position: 0% 65%; padding-top: 15rem;">
      <div class="row">
          <div class="ct takol-md-8 ml-auto mr-auto text-center">
              
              <p class="description">The Devil wears Prada</p>
          </div>
      </div>
 
      <div class="row">
          <div class="col-xs-8 col-sm-12 col-md-3" style="padding-bottom: 2rem;">
            <a href="https://www.prada.com/ww/en.html" target="_blank"> <img src="https://i.pinimg.com/564x/55/80/97/558097bf430af078a10fde2b3caf0806.jpg" style="object-fit: cover; ;" width="255px" height="143.31px"  class="img-rounded img-responsive" alt="Gucci"></a>   
              <div class="row" style="padding-top: 12px;">
                <div class="col-xs-8 col-sm-12 col-md-6 btn-fl" style="display: block;">
                  <div class=" text-center" routerLinkActive="active">
                    <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Flow</a>
                  </div>
                </div>    
                <div class="col-xs-8 col-sm-12 col-md-6 btn-ct" style="display: block; ">
                  <div class=" text-center" routerLinkActive="active">
                    <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Chat</a>
                  </div>
                </div>    
              </div>         
              
          </div>
          <div class="col-xs-8 col-sm-8 col-md-3">
              <h4 class="images-title"> 
                <p>Product: 10</p>
                <p>Watching: 1</p>
                <p>Response rate:80%(in a few hours)</p>
                
              </h4>            
          </div>
          <div class="col-xs-8 col-sm-8 col-md-3">
              <h4 class="images-title"> 
                <p>Order cancellation: 1%</p>
                <p>Flowers: 80,7k</p>
                <p>Evaluate: 5/5 (33,3k evaluate)</p>
                 
               </h4>               
          </div>
          <div class="col-xs-8 col-sm-8 col-md-3">
              <h4 class="images-title"> 
                <p>Joined: 24 months ago</p>
                <p>Founder: Mario Prada</p>
                <p>Since: 1913</p>
             </h4> 
          </div>    
          
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;" >
      <div class="tim-title">
          <h3 style="background-color:#2b2b2b81;text-align: center;">PRADA</h3>
      </div>
      <div class="row">            
          <div class="col-xs-8 col-sm-6 col-md-3" *ngFor="let prada of listPrada">
              <div class="containe a img-rounded img-responsive" style="background-image: url({{prada.image}})">
                  <div class="overlay">
                    <div class = "items"></div>
                    <div class = "items head">
                      <p>{{prada.productName}}</p>
                      <hr>
                    </div>
                    <div class = "items price">
                      <p class="old">${{prada.oldprice}}</p>
                    </div>
                    <div class="items cart">
                      <i class="fa fa-shopping-cart"></i>
                      <button  class="add-to-cart btn btn-default" (click)="onPrada(prada)" >Add</button>
                  </div>
                </div>
                </div>
              <div class="img-details">
                  
                  <h4 class="images-title"> 
                      <div class="col text-center" routerLinkActive="active">
                        <a href="/#/detail?id={{prada.id}}" class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >${{prada.price}}</a>
                      </div>
                 </h4>
              </div>
          </div>
  </div>
  </div>
  
<div class="section section-dark section-nucleo-icons"style="background-color:rgba(0,0,0,0)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Mario Prada</h2>
              <p class="description">1958</p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <h2 class="title">Formation</h2><br/>
              <p class="description">
                Miuccia Bianchi Prada ; born Maria Bianchi [maˈriːa ˈbjaŋki] on 10 May 1949) is an Italian billionaire fashion designer and businesswoman. She is the head designer of Prada and the founder of its subsidiary Miu Miu.[1] As of October 2021, Forbes estimated her net worth at US$4.8 billion.[2] In June 2021, Bloomberg estimated her net worth to be $6.62 billion, ranked 464th in the world.[3]v
              </p><br/>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="icons-container"> 
                  <img src="https://i.pinimg.com/564x/a8/68/a7/a868a7b5cd387d6cead2cb73c9dff5a3.jpg"  width="100%" height="400" alt=" mars" style="object-fit: cover;" >
              </div>
          </div>
      </div>
  </div>
</div>  

