<div class="section" style="padding-top: 0px;">
    <div class="container" style="background-color:#60606061; backdrop-filter: blur(5px); border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6); margin-bottom: 2rem;" >
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Universal Glasses Sales and Discount Campaign</h2>
                <p class="description"> Follow us to get great deals from promotions on special days</p>
            </div>
        </div>
    </div>
  <div class="section container" style="background: url(https://i.pinimg.com/originals/96/37/28/9637285d4e8de323db20c91ba80527bf.jpg) no-repeat ; background-size: 100%; background-position: center top;">
    <div class="container tim-container">
            <div class="row" style="text-align: center; background-color: rgba(94, 94, 94, 0.52);">
                <div class="typogra-line" style="text-align: center; width: 100%;">
                  <p style="font-size: 100px; text-align: center;">30% Discount</p>
                </div>
                <div class="typogra-line" style="text-align: center;">
                    <h2>
                      BOO!!! The Halloween sale is here! For only <strong style="color:#ffffff">five days</strong>, you can get Slides Framework at a discounted price: 30% OFF!
                    </h2>
                </div>
                
                <div class="typogra-line" style="text-align: center; width: 100%;">
                    <h4 style="text-align: center; padding-bottom: 1rem;">
                      Use coupon code <strong style="color:#ffffff">HALLOWEEN</strong> during checkout!
                    </h4>
                </div>
                
                
            </div>
        </div>
       
  
    </div>
  </div>
  